* {
    font-weight: 600px;
}
body {
    background-image: url(img/beck.png);
    background-size: 1000px;
}
header { 
    margin-bottom: 5%;
    margin-top: 20px;
    justify-items: center;
}
.carrossel {
    width: 98.9vw;
    white-space: nowrap;
    overflow: hidden;
}
.grupoC {
    display: inline-block;
    animation: AnimCarrossel 65s linear infinite;
    img {
        margin: 5px;
        width: 1000px;
        height: 600px;
        border-radius: 30px;
    }
}
@keyframes AnimCarrossel {
    0% { transform: translateX(0);}
    100% { transform: translateX(-50%);}
}



.catalogo {
    background-color: #26456e79;
    -webkit-backdrop-filter: blur(30px);
    box-shadow:  0 4px 30px rgba(0, 0, 0, 0.1);
    
    border-radius: 30px;
    border: solid #26456e9f 2px;

    height: 100%;
    width: auto;
    padding: 2%;
    gap: 3%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.jogo {
    cursor: pointer;

    width: 75vw;
    height: 50vh;
    margin: 20px;
    padding: 30px;

    border-radius: 30px;

    display: flex;
    flex-direction: row;

    transition: all ease 0.5s;
}
.jogo:hover {
    transform: scale(1.1);
}
.txtJ {
    color: white;
    background-color: rgba(40, 40, 40, 0.45);
    box-shadow: 0 0 50px 20px rgba(40, 40, 40, 0.6);
    padding: 5px;
    width: 100vw;
    text-align: center;
}
a {
    text-decoration: none;
}
h4 {
    right: 1px;
    position: absolute;
    color: white;
    background-color: #26456e79;
}

